<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <form>
          <!-- <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]='employee.id'
            [ngModelOptions]="{standalone: true}" placeholder="id">
        </div> -->
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]='employee.firstName'
              [ngModelOptions]="{standalone: true}" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]='employee.lastName'
              [ngModelOptions]="{standalone: true}" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]='employee.dateNaissance'
              [ngModelOptions]="{standalone: true}" placeholder="Date de naissance">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>